<!DOCTYPE html>
<html>
<head>
    <title>What's your name?</title>
</head>
<body>
    <h1>What's your name?</h1>
    <form method="POST" action="/aplicandoMvc/save">
        <label for="name">Your name here:</label><br>
        <input type="text" id="name" name="name"><br>
        <button type="submit"> Submit </button>
    </form>
</body>
</html>


